body {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* For setting the column template */
    grid-auto-rows: minmax(100px, auto);  /* For setting the height of each row */
    grid-gap: 10px;
    grid-template-areas: 
    "header header header header"
    "aside . main main"
    "nav nav main main"
    "section section section section"
    "footer footer footer footer"
}

#content>* {
    background: #3bbced;
    padding: 30px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}

aside {
    grid-area: aside;
}

nav {
    grid-area: nav;
}

footer {
    grid-area: footer;
}